body {
	padding: 5px 25px;
	margin-left: 50px;
	margin-right: 50px;
}

.shadow {
    box-shadow: 10px 10px 5px #888888;
}

.indent {
	padding-left: 25px;
}

.display_box {
    background-color: lightgray;
    border: 5px solid darkgray;
    color: black;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 50px;
    width: 95%;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
}

.copy_button {
    position: absolute;
    right: 125px;
}